alembic==1.13.1
certifi==2024.6.2
charset-normalizer==3.3.2
colorlog==6.8.2
filelock==3.15.3
fsspec==2024.6.0
greenlet==3.0.3
huggingface-hub==0.23.4
idna==3.7
Jinja2==3.1.4
lmdb==1.4.1
Mako==1.3.5
MarkupSafe==2.1.5
mpmath==1.3.0
networkx==3.3
nomkl==0.0.3
numpy==1.26.4
opencv-python==4.9.0.80
optuna==3.6.1
packaging==24.1
pandas==2.2.2
pillow==10.3.0
pyodbc @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_0c35321swi/croot/pyodbc_1705431357684/work
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
safetensors==0.4.3
setuptools==69.5.1
six==1.16.0
SQLAlchemy==2.0.31
sympy==1.12.1
tokenizers==0.19.1
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.4
transformers==4.48.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wheel==0.43.0
